<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
    class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
    <input type="password" formControlName="contactFormPassword" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

  <!-- Send button -->

  <button mdbBtn type="button" color="info" mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">SIGN IN</button>

  <div *ngIf="!checkPwd" class="alert alert-danger" style="margin-top: 20px;" role="alert">
    Wrong Password ! Please try again
  </div>
</form>
<!-- Default form contact -->