<div style="text-align:center">
  <section class="section">
      <div class="container">
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
          <mdb-navbar-brand><a class="navbar-brand" href="#">Ticket Management</a></mdb-navbar-brand>
          <links>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['']">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/tickets']">View tickets</a>
              </li> -->
            </ul>
          </links>
        </mdb-navbar>

        <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-menu is-active buttons">
              <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['']">Home</button>
              <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/tickets']">Tickets</button>
          </div>
        </nav> -->

        <div style="margin-top: 50px;">
          <router-outlet></router-outlet>
        </div>
      </div>
  </section>
</div>